<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @session.game_id %>
</p>

<% if false %>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
<% end %>