<div class="debug-menu">
	<div class="btn-toolbar">
	  <div class="btn-group">
	    <button class="btn btn-small btn-info">Testing</button>
	    <button class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="/game/new/11x11">11x11 Board size</a></li>
	      <li><a href="/game/new/13x13">13x13 Board size</a></li>
	      <li><a href="/game/new/14x14">14x14 Board size</a></li>
	      <li><a href="/game/new/19x19">19x19 Board size</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	</div><!-- /btn-toolbar -->
</div><!-- /debug-menu -->