<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
</p>

<canvas id="hexmap" width="660" height="624"></canvas>

<% if false %>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
<% end %>
