<% if false %>
<div class="debug-menu">
	<div class="btn-toolbar">
	  <div class="btn-group">
	    <button class="btn btn-small btn-info">Testing</button>
	    <button class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="/games/join/<%= @game.id %>/11x11#game-top">11x11 Board size</a></li>
	      <li><a href="/games/join/<%= @game.id %>/13x13#game-top">13x13 Board size</a></li>
	      <li><a href="/games/join/<%= @game.id %>/14x14#game-top">14x14 Board size</a></li>
	      <li><a href="/games/join/<%= @game.id %>/19x19#game-top">19x19 Board size</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	</div><!-- /btn-toolbar -->
</div><!-- /debug-menu -->
<% end %>